<form class="mt-4" name="container-form" method="GET" action="/category/handle-form-action">
    <div>
      <h3>Quản lý Loại</h3>
    </div>
    <button type="button" class="btn btn-primary" onclick="location.href='/categories/create'">Thêm Loại</button>
    <table class="table mt-4">
        <thead>
            <tr>
            <th scope="col">STT</th>
            <th scope="col">
              Tên
              {{!-- {{{sortable 'name' _sort}}} --}}
              </th>
            <th scope="col">
              Mô tả
              {{!-- {{{sortable 'level' _sort}}} --}}
              </th>
              <th scope="col">
              Hình ảnh
              {{!-- {{{sortable 'level' _sort}}} --}}
              </th>
            <th scope="col">
              Actions
              {{!-- {{{sortable 'createdAt' _sort}}} --}}
              </th>
            </tr>
        </thead>
        <tbody>
            {{#each categories}}
            <tr>
            <th scope="row">{{sum @index 1}}</th>
            <td>{{this.name}}</td>
            <td>{{this.description}}</td>
            <td>
                <img src="{{this.image}}" width="100" height="100" />
            </td>
            <td>
              <div class="dropdown">
                <a class="btn btn-link dropdown-toggle" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Tùy chọn
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                  <a href="/categories/{{this._id}}/edit" class="btn btn-link dropdown-item">Sửa</a>
                  <a href="" class="btn btn-link dropdown-item" data-toggle="modal" data-id="{{this._id}}" data-target="#delete-category-modal">Xoá</a>
                </div>
              </div>
            </td>
            </tr>
            {{else}}
            <tr>
              <td colspan="6">
                Bạn chưa có loại nào trong danh sách
                <a href="/categories/create">Tạo loại mới</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</form>

{{!-- Confirm delete modal --}}
<div id="delete-category-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xoá loại</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Loại sau khi xóa sẽ không thể hoàn tác. Bạn có muốn tiếp tục xóa không ?</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-category" type="button" class="btn btn-danger">Xoá</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
      </div>
    </div>
  </div>
</div>
<form name="delete-category-form" method="POST"></form>

<script>
    document.addEventListener('DOMContentLoaded', function(){
    var categoryId;
    $('#delete-category-modal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        categoryId = button.data('id') // Extract info from data-* attributes
        var formDelete = document.forms['delete-category-form'];
        var btnDelete = document.getElementById('btn-delete-category');
        console.log(formDelete, 'form del');
        console.log(categoryId, 'btn del');
        btnDelete.onclick = function(){
          console.log(categoryId);
          formDelete.action = '/categories/' + categoryId + '/delete?_method=DELETE';
          formDelete.submit();
        }
    });
  });
</script>
